@*@model IEnumerable<FacturacionWeb.Models.Cliente>*@

@{
    ViewBag.Title = "Clientes";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-10 col-md-5 order-md-1 order-last">
                <h3>Listado de @ViewBag.Title</h3>

            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Lista de Clientes
                @{
                    if (User.IsInRole("Admin"))
                    {

                        <div class="float-end">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-primary user-img d-flex align-items-center">
                                <i class="bi bi-person-plus-fill"></i>
                                <span> &emsp; Agregar </span>
                            </a>
                        </div>
                    }
                }



            </div>


            <div class="card-body table-responsive">
                <table class="table table-dark table-striped table-responsive" id="table1">
                    <thead>
                        <tr>
                            <th>Cédula/Ruc</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Opciones</th>

                            <!-- <th>Estado</th>-->
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>



<div class="modal fade" id="exampleModalCenterEditar" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="exampleModalCenterTitle">
                    Editar Cliente
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group position-relative has-icon-left">
                    <input id="txtID" type="text" disabled placeholder="Id del Producto"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-bookmark-check"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left">
                    <input name="txtCedE" placeholder="Cédula"
                           onkeypress="return event.charCode >= 48" min="1" class="form-control" id="txtCedE"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           type="number"
                           maxlength="10" />
                    
                    <div class="form-control-icon">
                        <i class="bi bi-credit-card-2-front"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left">
                    <input id="txtNomE" type="text" placeholder="Nombres"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <input id="txtApeE" type="text" placeholder="Apellidos"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <input name="txtTelE"
                           onkeypress="return event.charCode >= 48" min="1" class="form-control" id="txtTelE"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           type="number"
                           maxlength="10" />
                    <div class="form-control-icon">
                        <i class="bi bi-phone"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <input id="txtDirE" type="text" placeholder="Dirección"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancelar</span>
                </button>
                <button type="button" onclick="EditarCliente()" class="btn btn-success ml-1">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title " id="exampleModalCenterTitle">
                    Nuevo Cliente
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group position-relative has-icon-left">
                    <input name="txtCed" placeholder="Cédula"
                           onkeypress="return event.charCode >= 48" min="1" class="form-control" id="txtCed"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           type="number"
                           maxlength="10" />
                    
                    <div class="form-control-icon">
                        <i class="bi bi-credit-card-2-front"></i>
                    </div>
                </div>

                <div class="form-group position-relative has-icon-left">
                    <input id="txtNom" type="text" placeholder="Nombres"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <input id="txtApe" type="text" placeholder="Apellidos"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">

                    <input name="txtTel"
                           onkeypress="return event.charCode >= 48" min="1"  placeholder="Tel/Cel" class="form-control" id="txtTel"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           type="number"
                           maxlength="10" />

                   
                    <div class="form-control-icon">
                        <i class="bi bi-phone"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left">
                    <input id="txtDir" type="text" placeholder="Dirección"
                           class="form-control">
                    <div class="form-control-icon">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancelar</span>
                </button>
                <button type="button" onclick="GuardarCliente()" class="btn btn-success ml-1">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Guardar</span>
                </button>
            </div>
        </div>
    </div>
</div>
@* Fin Modal *@
<script>
    // Jquery Datatable
    let table = $("#table1").DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        },
        data :[],
        columns: [
            { data: "CedRuc" },
            { data: "Nombres" },
            { data: "Apellidos" },
            { data: "Telefono" },
            { data: "Direccion" },
        ], columnDefs: [
            {
                "targets": 5,
                "data": null,
                "render": function (data, type, row) {
                    if (data.Estado == 1) {
                        return `<span class="badge bg-info">Activo</span>`;
                    }
                    return `<span class="badge bg-danger">Inactivo</span>`
                }

            },
            {
                "targets": 6,
                "data": null,
                "render": function (data, type, row) {

                    var role = '@User.IsInRole("Admin")'
                    console.log('Role', role)
                    if ('@User.IsInRole("Admin")' == "True") {
                        if (data.Estado == 1) {
                            return `
                         <a data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar" id='btnEditar' class="btn btn-danger "><span class="fa-fw select-all fas"></span></a>
                        <button id='btnEliminar' class="btn btn-danger "><span class="fa-fw select-all fas"></span></button>`
                        } else {
                            return `
                         <a data-bs-toggle="modal" data-bs-target="#exampleModalCenterEditar" id='btnEditar' class="btn btn-danger "><span class="fa-fw select-all fas"></span></a>
                        <button id='btnEliminar' disabled class="btn btn-danger "><span class="fa-fw select-all fas"></span></button>`

                        }
                            
                        }
                    return `
                         <button class="btn disabled" ><span class="fa-fw select-all fas"></span></button> <button class="btn disabled " ><span class="fa-fw select-all fas"></span></button>`
                }
            }

        ]
    });

    $(document).ready(function() {
        CargarDatosTabla();

         $('#table1 tbody').on('click', "#btnEditar", function () {
            //let row = $(this).parents('tr')[0];
            var data = table.row($(this).parents('tr')).data();
             $("#txtCedE").val(data.CedRuc.trim());
             $("#txtID").val(data.ID);
             $("#txtNomE").val(data.Nombres.trim());
             $("#txtApeE").val(data.Apellidos);
             $("#txtTelE").val((data.Telefono.trim()));
             $("#txtDirE").val(data.Direccion.trim());

        });
        $('#table1 tbody').on('click', "#btnEliminar", function () {
            //let row = $(this).parents('tr')[0];
            var data = table.row($(this).parents('tr')).data();
           
            //for row data
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: true
            })

            swalWithBootstrapButtons.fire({
                title: 'Desea Borrar el Cliente: ' + data.Nombres + ' ' + data.Apellidos,
                text: "Click en Borrar para quitar el Cliente ",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Borrar!',
                cancelButtonText: 'Cancelar!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: "@Url.Content("~/Cliente/EliminarCliente")",
                        dataType: 'json',
                        data: {
                            "id": data.ID
                        },
                        success: function (data) {
                            if (data.Status != 200) {
                                alertMessage(data.Error, "Error Al Eliminar Cliente", "error");
                            } else {
                                MessageSucces("Cliente Eliminado");
                                CargarDatosTabla();
                                $("#exampleModalCenterEditar").modal('hide');
                                Limpiar();

                            }
                        },
                        error: function (err) {
                            alertMessage("Error", "Error Listado Productos", "error");
                            console.log(err.fail());
                        }
                    });
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {

                }
            })
        });
    });

    function validarCed(ced) {
        var cad = ced
        var total = 0;
        var longitud = cad.length;
        var longcheck = longitud - 1;

        if (cad !== "" && longitud === 10) {
            for (i = 0; i < longcheck; i++) {
                if (i % 2 === 0) {
                    var aux = cad.charAt(i) * 2;
                    if (aux > 9) aux -= 9;
                    total += aux;
                } else {
                    total += parseInt(cad.charAt(i)); 
                }
            }
            total = total % 10 ? 10 - total % 10 : 0;

            if (cad.charAt(longitud - 1) == total) {
                return true;
            } else {
                return false
            }
        }

    }

    function CargarDatosTabla() {
        $.ajax({
            method: 'POST',
            url: "@Url.Content("~/Cliente/ListaClientes")",
            dataType: 'json',
            success: function (data) {
                if (data.Status != 200) {
                    alertMessage(data.Error, "Error Listado Clientes", "error");
                } else {
                    table.clear().draw();
                    table.rows.add(data.Data).draw();

                }
            },
            error: function (err) {
                alertMessage("Error", "Error Listado Clientes", "error");
                console.log(err.fail());
            }

        });
    }

    function EditarCliente() {
        var ced = $("#txtCedE").val();
        var id = $("#txtID").val();
        if (ced == '') {
            toastMessage("Ingrese la Cédula o RUC");
            $("#txtCedE").focus();
            return;
        }
        if (ced.length != 10 ) {
            toastMessage("Cédula Incorrecta");
            $("#txtCedE").focus();
            return;
        }

        if (!validarCed(ced)) {
            toastMessage("Cédula Incorrecta");
            $("#txtCedE").focus();
            return;
        }
        var nom = $("#txtNomE").val();
        if (nom == '') {
            $("#txtNomE").focus();
            toastMessage("Ingrese el Nombre");
            return;
        }
        var ape = $("#txtApeE").val();
        if (ape == '') {

            toastMessage("Ingrese el Apellido");
            $("#txtApeE").focus();
            return;
        }
        var tel = $("#txtTelE").val();
        if (tel == '') {
            toastMessage("Ingrese el Teléfono");
            $("#txtTelE").focus();
            return;
        }
        if (tel.length != 10) {
            toastMessage("Teléfono Incorrecto");
            $("#txtTelE").focus();
            return;
        }
        var dir = $("#txtDirE").val();
        if (dir == '') {
            toastMessage("Ingrese la Dirección");
            $("#txtDirE").focus();
            return;
        }

        $.ajax({
            method: 'POST',
            url: "@Url.Content("~/Cliente/EditarCliente")",
            dataType: 'json',
            data: {
                "id": id,
                "ced": ced,
                "nom": nom,
                "ape": ape,
                "tel": tel,
                "dir": dir
            },
            success: function (data) {
                if (data.Status != 200) {
                    alertMessage(data.Error, "Error Al Editar Cliente", "error");
                } else {
                    MessageSucces("Cliente Guardado");
                    CargarDatosTabla();
                    $("#exampleModalCenterEditar").modal('hide');
                    Limpiar();

                }
            },
            error: function (err) {
                alertMessage("Error", "Error Listado Clientes", "error");
                console.log(err.fail());
            }
        });

    }

    function GuardarCliente() {
        var ced = $("#txtCed").val();
        if (ced == '') {
            toastMessage("Ingrese la Cédula o RUC");
            $("#txtCed").focus();
            return;
        }
        if (ced.length != 10) {
            toastMessage("Cédula Incorrecta");
            $("#txtCed").focus();
            return;
        }
        if (!validarCed(ced)) {
            toastMessage("La cédula no es correcta");
            $("#txtCedE").focus();
            return;
        }
        var nom = $("#txtNom").val();
        if (nom == '') {
            $("#txtNom").focus();
            toastMessage("Ingrese el Nombre");
            return;
        }
        var ape = $("#txtApe").val();
        if (ape == '') {

            toastMessage("Ingrese el Apellido");
            $("#txtApe").focus();
            return;
        }
        var tel = $("#txtTel").val();
        if (tel == '') {
            toastMessage("Ingrese el Teléfono");
            $("#txtTel").focus();
            return;
        }
        if (tel.length != 10) {
            toastMessage("Teléfono Incorrecto");
            $("#txtTel").focus();
            return;
        }
        var dir = $("#txtDir").val();
        if (dir == '') {
            toastMessage("Ingrese la Dirección");
            $("#txtDir").focus();
            return;
        }

        $.ajax({
            method: 'POST',
            url: "@Url.Content("~/Cliente/GuardarCliente")",
            dataType: 'json',
            data: {
                "ced": ced,
                "nom": nom,
                "ape": ape,
                "tel": tel,
                "dir": dir
            },
            success: function (data) {
                if (data.Status != 200) {
                    alertMessage(data.Error, "Error Al Guardar Cliente", "error");
                } else {
                    MessageSucces("Cliente Guardado");
                    CargarDatosTabla();
                    $("#exampleModalCenter").modal('hide');
                    Limpiar();

                }
            },
            error: function (err) {
                alertMessage("Error", "Error Listado Clientes", "error");
                console.log(err.fail());
            }
        });

    }

    function Limpiar() {
        $("#txtCed").val('');
        $("#txtNom").val('');
        $("#txtApe").val('');
        $("#txtTel").val('');
        $("#txtDir").val('');

    }

    function toastMessage(Mensaje) {
        Toastify({
            text: Mensaje,
            duration: 4000,
            close: true,
            gravity: "top",
            position: "center",
            backgroundColor: "#ffce30",
        }).showToast();
    }

    function MessageSucces(Mensaje) {
        Toastify({
            text: Mensaje,
            duration: 3000,
            close: true,
            gravity: "top",
            position: "center",
            backgroundColor: "#1ee41c",
        }).showToast();

    }
</script>